<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Nom"/></h1>
    </header>
    
    <section class="sheet-body">
        <table>
            <tr>
                <td>{{localize "AKREL.ARMOR.WORN_LOCATION"}}</td>
                <td>
                    <select name="data.where">
                        <option value="head">{{localize "AKREL.ITEM.HEAD"}}</option>
                        <option value="chest">{{localize "AKREL.ITEM.CHEST"}}</option>
                        <option value="arms">{{localize "AKREL.ITEM.HANDS"}}</option>
                        <option value="pant">{{localize "AKREL.ITEM.LEGS"}}</option>
                        <option value="feets">{{localize "AKREL.ITEM.FEETS"}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>{{localize "AKREL.ARMOR.TYPE"}}</td>
                <td><input name="data.armorType" type="text" value="{{data.armorType}}" data-dtype="String"/></td>
            </tr>
            <tr></tr>
                <td>{{localize "AKREL.ARMOR.DURABILITY"}}</td>
                <td><input name="data.dura" type="text" value="{{data.dura}}" data-dtype="String"/></td>
            </tr>
            <tr>
                <td>{{localize "AKREL.ARMOR.DEFENSE_POINTS"}}</td>
                <td><input name="data.point" type="text" value="{{data.point}}" data-dtype="Number"/></td>
            </tr>
            <tr>
                <td>{{localize "AKREL.ARMOR.PRICE"}}</td>
                <td><input name="data.price" type="text" value="{{data.price}}" data-dtype="Number"/></td>
            </tr>
        </table>
        
        {{localize "AKREL.ITEM.DESCRIPTION"}}
        <textarea name="data.description">{{data.description}}</textarea>
    </section>
</form>