<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Nom"/></h1>
    </header>
    
    <section class="sheet-body">
        <p>Description</p>
        <textarea name="data.description">{{data.description}}</textarea>
        <table>
            <tr>
                <td><p>Prix:</p></td>
                <td><input name="data.price" type="text" value="{{data.price}}" data-dtype="Number"/></td>
            </tr>
        </table>
    </section>
</form>