<form class="akrel-item-sheet akrel-passive-sheet" autocomplete="off">
    <header class="passive-sheet-header">
        <div class="header-container">
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
            <input class="item-name" name="name" type="text" value="{{item.name}}" placeholder="Nom"/>
        </div>
    </header>

    <section class="passive-sheet-body">
        <div class="title-div stacked">
            <label class="title">{{localize "AKREL.ITEM.DESCRIPTION"}}</label>
            <textarea name="system.description">{{system.description}}</textarea>
        </div>
        <div class="form-group-desc">
            <div class="form-group">
                <label>{{localize "AKREL.PASSIVE.LEVEL"}}</label>
                <input type="text" name="system.Level" value="{{system.Level}}"/>
            </div>
            <div class="form-group">
                <label>{{localize "AKREL.SPELL.NATURE"}}</label>
                <input type="text" name="system.Nature" value="{{system.Nature}}"/>
            </div>
        </div>
    </section>
</form>