<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Nom"/></h1>
    </header>

    <section class="sheet-body">

        <table>
            <tr>
                <td>{{localize "AKREL.SPELL.LEVEL"}}</td>
                <td><input name="data.spellLevel" type="text" value="{{data.spellLevel}}" data-dtype="String"/></td>
                <td>{{localize "AKREL.SPELL.MANA_COST"}}</td>
                <td><input name="data.manaCost" type="text" value="{{data.manaCost}}" data-dtype="Number"/></td>
                <div>
                    <button type="button" class="roll-damage" data-roll="{{data.dice}}">
                        <i class="fas fa-dice-d20"></i> Lancer un dés
                    </button>
                </div>
            </tr>
        </table>

        {{!-- Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">{{localize "AKREL.SHEET.DESCRIPTION_TAB"}}</a>
            <a class="item" data-tab="configuration">{{localize "AKREL.SHEET.CONFIGURATION_TAB"}}</a>
        </nav>

        {{!-- Contenu de l'onglet Description --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{localize "AKREL.ITEM.DESCRIPTION"}}
            <textarea name="data.description">{{data.description}}</textarea>
        </div>

        {{!-- Contenu de l'onglet Configuration --}}
        <div class="tab configuration" data-group="primary" data-tab="configuration">
            <table>
                 <tr>
                    <td>{{localize "AKREL.SPELL.ATTACK_ATTRIBUTE"}}</td>
                    <td><select name="data.attackAttribute">{{selectOptions config.attackTypes selected=data.attackAttribute localize=true}}</select></td>
                </tr>
                <tr>
                    <td>{{localize "AKREL.SPELL.NATURE"}}</td>
                    <td><input name="date.spellNature" type="text" value="{{data.spellNature}}" data-dtype="String"/></td>
                </tr>
                <tr>
                    <td>{{localize "AKREL.SPELL.DAMAGE_DICE"}}</td>
                    <td><input name="data.damageDice" type="text" value="{{data.damageDice}}" data-dtype="String"/></td>
                </tr>
                <tr>
                    <td>{{localize "AKREL.SPELL.IS_QUICK_SPELL"}}</td>
                    <td><input type="checkbox" name="data.isQuickSpell" {{checked data.isQuickSpell}} data-dtype="Boolean"/></td>
                </tr>
            </table>
        </div>
    </section>
</form>