<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Nom"/></h1>
    </header>

    <section class="sheet-body">

        <table>
            <tr>
                <td>{{localize "AKREL.SPELL.LEVEL"}}</td>
                <td><input type="number" name="system.spellLevel" value="{{system.spellLevel}}"/></td> 
                <td>{{localize "AKREL.SPELL.MANA_COST"}}</td>
                <td><input name="system.manaCost" type="number" value="{{system.manaCost}}"/></td>
                <div>
                    <button type="button" class="roll-damage" data-roll="{{system.dice}}">
                        <i class="fas fa-dice-d20"></i> Lancer un dés
                    </button>
                </div>
            </tr>
        </table>

        {{!-- Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">{{localize "AKREL.SHEET.DESCRIPTION_TAB"}}</a>
            <a class="item" data-tab="configuration">{{localize "AKREL.SHEET.CONFIGURATION_TAB"}}</a>
        </nav>

        {{!-- Contenu de l'onglet Description --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{localize "AKREL.ITEM.DESCRIPTION"}}
            <textarea name="system.description">{{system.description}}</textarea>
        </div>

        {{!-- Contenu de l'onglet Configuration --}}
        <div class="tab configuration" data-group="primary" data-tab="configuration">
            <table>
                    <tr>
                        <td>{{localize "AKREL.SPELL.ATTACK_ATTRIBUTE"}}</td>
                        <td><select name="system.attackAttribute">{{selectOptions config.attackTypes selected=system.attackAttribute localize=true}}</select></td>
                    </tr>
                    <tr>
                        <td>{{localize "AKREL.SPELL.NATURE"}}</td>
                        <td><input name="system.spellNature" type="text" value="{{system.spellNature}}"/></td>
                    </tr>
                    <tr>
                        <td>{{localize "AKREL.SPELL.DAMAGE_DICE"}}</td>
                        <td><input name="system.damageDice" type="text" value="{{system.damageDice}}"/></td>
                    </tr>
                    <tr>
                        <td>{{localize "AKREL.SPELL.IS_QUICK_SPELL"}}</td>
                        <td><input type="checkbox" name="system.isQuickSpell" {{checked system.isQuickSpell}} data-dtype="Boolean"/></td>
                    </tr>
            </table>
        </div>
    </section>
</form>