<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-info">
            <input class="header-item character-name" name="name" type="text" value="{{actor.name}}" placeholder="{{localize "AKREL.CHARACTER.NAME_PLACEHOLDER"}}"/>
            <input class="header-item job" name="system.job" type="text" value="{{system.job}}" placeholder="{{localize "AKREL.CHARACTER.JOB_PLACEHOLDER"}}"/>
        </div>
        <input class="experience" type="number" name="system.experience" value="{{system.experience}}"/>
    </header>

    

    {{!-- Barre de Navigation --}}
    <section>
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item-tab" data-tab="identity"><i class="fas fa-user-circle"></i></a>
            <a class="item-tab" data-tab="competencies"><i class="fas fa-book-open"></i></a>
            <a class="item-tab" data-tab="bag"><i class="fas fa-bag-shopping"></i></a>
            <a class="item-tab" data-tab="group"><i class="fas fa-users"></i></a>
        </nav>
    </section>

    <section class="sheet-body">
        {{!-- Menu a gauche --}}
        <div class="left-panel">
            <div>
                <img class="character-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="248" width="248"/>

                {{!-- Nouveau conteneur principal pour toutes les ressources ET le niveau qui va flotter --}}
                <section class="resource-layout-container">

                    {{!-- Le VRAI INPUT de Niveau - positionné en absolu --}}
                    <div class="level-input-container">
                        <input type="number" name="system.level" value="{{system.level}}" data-dtype="Number" class="level-input"/>
                    </div>

                    <div class="resource-row"> {{!-- Première ligne pour Vie et Mana --}}
                        {{!-- Barre de Vie (Health) --}}
                        <div class="akrel-resource-bar health-bar">
                            <div class="bar-background">
                                <div class="bar-fill" style="width: {{max 0 (percent system.resources.health.value system.resources.health.max)}}%;"></div>
                            </div>
                            <div class="bar-label">
                                <input type="number" name="system.resources.health.value" value="{{system.resources.health.value}}" data-dtype="Number" class="resource-input current-value"/>
                                <span class="separator">&sol;</span>
                                <input type="number" name="system.resources.health.max" value="{{system.resources.health.max}}" data-dtype="Number" class="resource-input max-value"/>
                            </div>
                        </div>

                        <div class="level-placeholder"></div> {{!-- Boîte vide transparente pour le niveau --}}

                        {{!-- Barre de Mana --}}
                        <div class="akrel-resource-bar mana-bar">
                            <div class="bar-background">
                                <div class="bar-fill" style="width: {{max 0 (percent system.resources.mana.value system.resources.mana.max)}}%;"></div>
                            </div>
                            <div class="bar-label">
                                <input type="number" name="system.resources.mana.value" value="{{system.resources.mana.value}}" data-dtype="Number" class="resource-input current-value"/>
                                <span class="separator">&sol;</span>
                                <input type="number" name="system.resources.mana.max" value="{{system.resources.mana.max}}" data-dtype="Number" class="resource-input max-value"/>
                            </div>
                        </div>
                    </div> {{!-- Fin .resource-row --}}

                    <div class="resource-row"> {{!-- Deuxième ligne pour Armure et Barrière --}}
                        {{!-- Barre d'Armure --}}
                        <div class="akrel-resource-bar armor-bar">
                            <div class="bar-background">
                                <div class="bar-fill" style="width: {{max 0 (percent system.resources.armor.value system.resources.armor.max)}}%;"></div>
                            </div>
                            <div class="bar-label">
                                <input type="number" name="system.resources.armor.value" value="{{system.resources.armor.value}}" data-dtype="Number" class="resource-input current-value"/>
                                <span class="separator">&sol;</span>
                                <input type="number" name="system.resources.armor.max" value="{{system.resources.armor.max}}" data-dtype="Number" class="resource-input max-value"/>
                            </div>
                        </div>

                        <div class="level-placeholder"></div> {{!-- Boîte vide transparente pour le niveau --}}

                        {{!-- Barre de Barrière --}}
                        <div class="akrel-resource-bar barrier-bar">
                            <div class="bar-background">
                                <div class="bar-fill" style="width: {{max 0 (percent system.resources.barrier.value system.resources.barrier.max)}}%;"></div>
                            </div>
                            <div class="bar-label">
                                <input type="number" name="system.resources.barrier.value" value="{{system.resources.barrier.value}}" data-dtype="Number" class="resource-input current-value"/>
                                <span class="separator">&sol;</span>
                                <input type="number" name="system.resources.barrier.max" value="{{system.resources.barrier.max}}" data-dtype="Number" class="resource-input max-value"/>
                            </div>
                        </div>
                    </div> 
                {{!-- Panneau des stats --}}
                <div class="stat-container">
                    <ul class="stat-ul">
                        {{!-- social --}}
                        <li class="stat-li">
                            <i class="stat-icon fa-solid fa-users"></i>
                            <input type="number" name="system.social" value="{{system.social}}" class="stat-item">
                            <label>{{localize "AKREL.ATTRIBUTES.SOC"}}</label>
                        </li>

                        {{!-- initiative --}}
                        <li class="stat-li">
                            <i class="stat-icon fa-solid fa-hourglass-start"></i>
                            <input type="number" name="system.initiative" value="{{system.initiative}}" class="stat-item">
                            <label>{{localize "AKREL.ATTRIBUTES.INI"}}</label>
                        </li>

                        {{!-- physique --}}
                        <li class="stat-li">
                            <i class="stat-icon fa-solid fa-dumbbell"></i>
                            <input type="number" name="system.physical" value="{{system.physical}}" class="stat-item">
                            <label>{{localize "AKREL.ATTRIBUTES.PHY"}}</label>
                        </li>

                        {{!-- block --}}
                        <li class="stat-li">
                            <i class="stat-icon fa-solid fa-shield-halved"></i>
                            <input type="number" name="system.block" value="{{system.block}}" class="stat-item">
                            <label>{{localize "AKREL.ATTRIBUTES.BLO"}}</label>
                        </li>

                        {{!-- intelligence --}}
                        <li class="stat-li">
                            <i class="stat-icon fa-solid fa-brain"></i>
                            <input type="number" name="system.intelligence" value="{{system.intelligence}}" class="stat-item">
                            <label>{{localize "AKREL.ATTRIBUTES.INT"}}</label>
                        </li>

                        {{!-- dodge --}}
                        <li class="stat-li">
                            <i class="stat-icon fa-solid fa-person-running"></i>
                            <input type="number" name="system.dodge" value="{{system.dodge}}" class="stat-item">
                            <label>{{localize "AKREL.ATTRIBUTES.ESQ"}}</label>
                        </li>

                        {{!-- dexterity --}}
                        <li class="stat-li">
                            <i class="stat-icon fa-solid fa-person-walking-arrow-right"></i>
                            <input type="number" name="system.dexterity" value="{{system.dexterity}}" class="stat-item">
                            <label>{{localize "AKREL.ATTRIBUTES.ADR"}}</label>
                        </li>

                        {{!-- vigilance --}}
                        <li class="stat-li">
                            <i class="stat-icon fa-solid fa-eye"></i>
                            <input type="number" name="system.vigilance" value="{{system.vigilance}}" class="stat-item">
                            <label>{{localize "AKREL.ATTRIBUTES.VIG"}}</label>
                        </li>
                    </ul>
                </div>
            </section> 

            </div> {{!-- Fin du div global contenant l'image et les ressources --}}
        </div>
        <div class="right-panel">

            {{!-- Contenu de l'onglet Identité --}}
            <div class="tab identity" data-group="primary" data-tab="identity"> 
                <h3 class="section-header">{{localize "AKREL.CHARACTER.IDENTITY"}}</h3>
                <table>
                    <tr>
                        <td>{{localize "AKREL.CHARACTER.AGE"}}</td>
                        <td><input type="text" name="system.age" value="{{system.age}}" data-dtype="String"></td>
                    </tr>
                    <tr>
                        <td>{{localize "AKREL.CHARACTER.ORIGIN"}}</td>
                        <td><input type="text" name="system.origin" value="{{system.origin}}" data-dtype="String"></td>
                    </tr>
                    <tr>
                        <td>{{localize "AKREL.CHARACTER.GENDER"}}</td>
                        <td><input type="text" name="system.gender" value="{{system.gender}}" data-dtype="String"></td>
                    </tr>
                    <tr>
                        <td>{{localize "AKREL.CHARACTER.SIZE"}}</td>
                        <td><input type="text" name="system.size" value="{{system.size}}" data-dtype="String"></td>
                    </tr>
                    <tr>
                        <td>{{localize "AKREL.CHARACTER.MORPHOLOGY"}}</td>
                        <td><input type="text" name="system.morphology" value="{{system.morphology}}" data-dtype="String"></td>
                    </tr>
                    <tr>
                        <td>{{localize "AKREL.CHARACTER.CASTE"}}</td>
                        <td><input type="text" name="system.caste" value="{{system.caste}}" data-dtype="String"></td>
                    </tr>
                    <tr>
                        <td>{{localize "AKREL.CHARACTER.DIVINITY"}}</td>
                        <td><input type="text" name="system.divinity" value="{{system.divinity}}" data-dtype="String"></td>
                    </tr>
                    <tr>
                        <td>{{localize "AKREL.CHARACTER.ALIGNMENT"}}</td>
                        <td><input type="text" name="system.alignment" value="{{system.alignment}}" data-dtype="String"></td>
                    </tr>
                </table>
                <h3 class="section-header">{{localize "AKREL.CHARACTER.STORY"}}</h3>
                <textarea name="system.story">{{system.story}}</textarea>
            </div>

            {{!-- Contenu de l'onglet Compétences --}}
            <div class="tab competencies" data-group="primary" data-tab="competencies">

                {{!-- Liste des sorts --}}
                <section class="item-section spells-section">
                    <h3 class="section-header">{{localize "AKREL.SHEET.SPELLS"}}</h3>
                    <ol class="items-list items-list--spells">
                        <li class="items-header flexrow">
                            <div class="item-name-header">{{localize "AKREL.SHEET.ITEM_NAME"}}</div>
                            <div class="item-detail-header">{{localize "AKREL.SHEET.LEVEL"}}</div>
                            <div class="item-detail-header">{{localize "AKREL.SHEET.QUICK_SPELL_SHORT"}}</div>
                            <div class="item-detail-header">{{localize "AKREL.SHEET.NATURE"}}</div>
                            <div class="item-detail-header">{{localize "AKREL.SHEET.COST"}}</div>
                            <div class="item-actions-header"></div>
                        </li>
                        {{#each actor.spells as |item i|}} 
                            <li class="item-row flexrow" data-item-id="{{item._id}}"> 
                                <div class="item-name-cell flexrow">
                                    <img class="item-img" src="{{item.img}}" title="{{item.name}}"/>
                                    <p>{{item.name}}</p>
                                </div>
                                <div class="item-detail">{{item.system.spellLevel}}</div>
                                <div class="item-detail">{{item.system.isQuickSpell}}</div>
                                <div class="item-detail">{{item.system.spellNature}}</div>
                                <div class="item-detail">{{item.system.manaCost}}</div>
                                <div class="item-actions-cell flexrow">
                                    <a class="item-control item-chat" title="{{localize "AKREL.ACTIONS.CAST_SPELL"}}" data-item-type="spell">
                                        <i class="fas fa-comment-dots"></i>
                                    </a>
                                    <a class="item-control item-delete" title="{{localize "AKREL.ACTIONS.DELETE"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </li>
                        {{/each}}
                        {{#unless actor.spells}}
                            <li class="item flexrow"><p class="notes">{{localize "AKREL.SHEET.NO_SPELLS_FOUND"}}</p></li>
                        {{/unless}}
                    </ol>
                </section>

                {{!-- Liste des compétences passives --}}
                <section class="item-section passives-section">
                    <h3 class="section-header">{{localize "AKREL.SHEET.PASSIVES"}}</h3>
                    <ol class="items-list items-list--passives">
                        <li class="items-header flexrow">
                            <div class="item-name-header">{{localize "AKREL.SHEET.ITEM_NAME"}}</div>
                            <div class="item-detail-header">{{localize "AKREL.SHEET.LEVEL"}}</div>
                            <div class="item-detail-header">{{localize "AKREL.SHEET.NATURE"}}</div>
                            <div class="item-actions-header"></div>
                        </li>
                        {{#each actor.passives as |item i|}} 
                            <li class="item-row flexrow" data-item-id="{{item._id}}"> 
                                <div class="item-name-cell flexrow">
                                    <img class="item-img" src="{{item.img}}" title="{{item.name}}"/>
                                    <p>{{item.name}}</p>
                                </div>
                                <div class="item-detail">{{item.system.Level}}</div>
                                <div class="item-detail">{{item.system.Nature}}</div>
                                <div class="item-actions-cell flexrow">
                                    <a class="item-control item-chat" title="{{localize "AKREL.ACTIONS.USE_PASSIVE"}}" data-item-type="passive">
                                        <i class="fas fa-hand-sparkles"></i> {{!-- Icône de base, ajustez si besoin --}}
                                    </a>
                                    <a class="item-control item-delete" title="{{localize "AKREL.ACTIONS.DELETE"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </li>
                        {{/each}}
                        {{#unless actor.passives}}
                            <li class="item flexrow"><p class="notes">{{localize "AKREL.SHEET.NO_PASSIVES_FOUND"}}</p></li>
                        {{/unless}}
                    </ol>
                </section>
            </div>

            {{!-- Contenu de l'onglet Sac --}}
            <div class="tab bag" data-group="primary" data-tab="bag">

                {{!-- Liste des armements --}}
                <section class="item-section weapons-section">
                    <h3 class="section-header">{{localize "AKREL.SHEET.ARMEMENTS"}}</h3>
                    <ol class="items-list items-list--weapons">
                        <li class="items-header flexrow">
                            <div class="item-name-header">{{localize "AKREL.SHEET.ITEM_NAME"}}</div>
                            <div class="item-detail-header">{{localize "AKREL.WEAPON.TYPE"}}</div>
                            <div class="item-detail-header">{{localize "AKREL.WEAPON.DAMAGE"}}</div>
                            <div class="item-detail-header">{{localize "AKREL.WEAPON.DURABILITY"}}</div>
                            <div class="item-actions-header"></div>
                        </li>
                        {{#each actor.weapons as |item i|}}
                            <li class="item-row flexrow" data-item-id="{{item._id}}">
                                <div class="item-name-cell flexrow">
                                    <img class="item-img" src="{{item.img}}" title="{{item.name}}"/>
                                    <p>{{item.name}}</p>
                                </div>
                                <div class="item-detail">{{item.system.weaponType}}</div>
                                <div class="item-detail">{{item.system.damageDice}}</div>
                                <div class="item-detail">{{item.system.durability}}</div>
                                <div class="item-actions-cell flexrow">
                                    <a class="item-control item-chat" title="{{localize "AKREL.ACTIONS.USE_WEAPON"}}" data-item-type="weapon">
                                        <i class="fas fa-gavel"></i>
                                    </a>
                                    <a class="item-control item-delete" title="{{localize "AKREL.ACTIONS.DELETE"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </li>
                        {{/each}}
                        {{#unless actor.weapons}}
                            <li class="item flexrow"><p class="notes">{{localize "AKREL.SHEET.NO_WEAPONS_FOUND"}}</p></li>
                        {{/unless}}
                    </ol>
                </section>
                
                {{!-- Liste des armures --}}
                <section class="item-section armors-section">
                    <h3 class="section-header">{{localize "AKREL.SHEET.ARMORS"}}</h3>
                    <ol class="items-list items-list--armors">
                        <li class="items-header flexrow">
                            <div class="item-name-header">{{localize "AKREL.SHEET.ITEM_NAME"}}</div>
                            <div class="item-detail-header">{{localize "AKREL.ARMOR.DEFENSE_POINTS"}}</div>
                            <div class="item-detail-header">{{localize "AKREL.ARMOR.DURABILITY"}}</div>
                            <div class="item-actions-header"></div>
                        </li>
                        {{#each actor.armors as |item i|}}
                            <li class="item-row flexrow" data-item-id="{{item._id}}">
                                <div class="item-name-cell flexrow">
                                    <img class="item-img" src="{{item.img}}" title="{{item.name}}"/>
                                    <p>{{item.name}}</p>
                                </div>
                                <div class="item-detail">{{item.system.defensePoints}}</div>
                                <div class="item-detail">{{item.system.durability}}</div>
                                <div class="item-actions-cell flexrow">
                                    <a class="item-control item-chat" title="{{localize "AKREL.ACTIONS.USE_WEAPON"}}" data-item-type="weapon">
                                        <i class="fas fa-gavel"></i>
                                    </a>
                                    <a class="item-control item-delete" title="{{localize "AKREL.ACTIONS.DELETE"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </li>
                        {{/each}}
                        {{#unless actor.weapons}}
                            <li class="item flexrow"><p class="notes">{{localize "AKREL.SHEET.NO_WEAPONS_FOUND"}}</p></li>
                        {{/unless}}
                    </ol>
                </section>

                {{!-- Liste du butin --}}
                <section class="item-section loots-section">
                    <h3 class="section-header">{{localize "AKREL.SHEET.BAG"}}</h3>
                    <ol class="items-list items-list--loots">
                        <li class="items-header flexrow">
                            <div class="item-name-header">{{localize "AKREL.SHEET.ITEM_NAME"}}</div>
                            <div class="item-detail-header">{{localize "AKREL.LOOT.QUANTITY"}}</div>
                            <div class="item-detail-header">{{localize "AKREL.LOOT.PRICE"}}</div>
                            <div class="item-actions-header"></div>
                        </li>
                        {{#each actor.loots as |item i|}}
                            <li class="item-row flexrow" data-item-id="{{item._id}}">
                                <div class="item-name-cell flexrow">
                                    <img class="item-img" src="{{item.img}}" title="{{item.name}}"/>
                                    <p>{{item.name}}</p>
                                </div>
                                <div class="item-detail">{{item.system.quantity}}</div>
                                <div class="item-detail">{{item.system.price}}</div>
                                <div class="item-actions-cell flexrow">
                                    <a class="item-control item-chat" title="{{localize "AKREL.ACTIONS.USE_LOOT"}}" data-item-type="loot">
                                        <i class="fas fa-flask"></i> {{!-- Icône de base, ajustez si besoin --}}
                                    </a>
                                    <a class="item-control item-delete" title="{{localize "AKREL.ACTIONS.DELETE"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </li>
                        {{/each}}
                        {{#unless actor.loots}}
                            <li class="item flexrow"><p class="notes">{{localize "AKREL.SHEET.NO_LOOTS_FOUND"}}</p></li>
                        {{/unless}}
                    </ol>
                </section>
            </div>

            {{!-- Contenu de l'onglet Groupe --}}
            <div class="tab group" data-group="primary" data-tab="group">

                <section class="item-section group-section">
                    <h3 class="section-header">{{localize "AKREL.CHARACTER.YOURGROUP"}}</h3>
                    <ol class="items-list items-list--group">
                        <li class="items-header flexrow">
                            <div class="item-name-header">{{localize "AKREL.SHEET.GROUP_MEMBER_NAME"}}</div>
                            <div class="item-detail-header item-detail-header--large">{{localize "AKREL.SHEET.GROUP_MEMBER_OPINION"}}</div>
                            <div class="item-actions-header"></div> {{!-- Colonne pour les boutons --}}
                        </li>
                        
                        {{!-- Boucle sur les membres du groupe (maintenant un tableau) --}}
                        {{#each actor.system.groupMembers as |member i|}} 
                            <li class="item-row flexrow" data-member-index="{{i}}"> {{!-- Utilise l'index pour l'identification --}}
                                <div class="item-name-cell flexrow">
                                    <input type="text" name="system.groupMembers.{{i}}.name" value="{{member.name}}" data-dtype="String" placeholder="{{localize "AKREL.SHEET.GROUP_MEMBER_NAME_PLACEHOLDER"}}"/>
                                </div>
                                <div class="item-detail item-detail--large">
                                    {{!-- NOUVEAU CODE pour le champ opinion en textarea --}}
            <textarea name="system.groupMembers.{{i}}.opinion" data-dtype="String">{{member.opinion}}</textarea>
                                </div>
                                <div class="item-actions-cell flexrow">
                                    <a class="item-control group-member-delete" title="{{localize "AKREL.ACTIONS.DELETE"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </li>
                        {{/each}}
                        
                        {{!-- Gérer le cas où il n'y a pas de membres du groupe --}}
                        {{#unless actor.system.groupMembers.length}} {{!-- Vérifie la longueur du tableau --}}
                            <li class="item flexrow"><p class="notes">{{localize "AKREL.SHEET.NO_GROUP_MEMBERS_FOUND"}}</p></li>
                        {{/unless}}
                    </ol>
                    <div class="header-actions">
                        <a class="item-control add-group-member" title="{{localize "AKREL.ACTIONS.ADD_GROUP_MEMBER"}}">
                            <i class="fas fa-plus"></i> {{localize "AKREL.ACTIONS.ADD_GROUP_MEMBER"}}
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </section>
</form>