<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Nom"/></h1>
    </header>

    <section class="sheet-body">
        <p>Bonjour</p>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="identity">Identity</a> {{!-- <-- Correction ici --}}
        </nav>

        {{!-- Contenu de l'onglet Identity --}}
        <div class="tab identity" data-group="primary" data-tab="identity"> {{!-- <-- Correction ici --}}
            <p>Bonsoir</p>
            {{!-- Pour afficher le niveau de l'acteur --}}
            <label>Niveau:</label>
            <input type="number" name="system.niveau" value="{{system.niveau}}"/>
        </div>
    </section>
</form>