<div class="akrel-chat-card akrel-roll-chat-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}">
    <header class="card-header flexrow">
        <img class="item-img" src="{{itemImg}}" data-edit="img" title="{{itemName}}" width="50" height="50"/>
        <h3 class="item-name">{{itemName}}</h3>
    </header>
    
    <div class="card-content">
        {{#if totalTarget}}
        <div class="roll-details">
            <p class="roll-summary">
                <span class="roll-value">{{actor.name}}</span>
            </p>
            <p class="roll-summary">
                <span class="roll-label">{{localize "AKREL.CHAT.ATTACKING_WITH"}} {{attackAttributeTitle}}</span>
                <span class="roll-value">+{{baseAttributeValue}}</span>
            </p>
            {{#if inFightBonus}}
            <p class="roll-summary">
                <span class="roll-label">{{localize "AKREL.CHAT.YOU_ARE_IN_FIGHT"}}</span>
                <span class="roll-value">+{{inFightBonus}}</span>
            </p>
            {{/if}}
            {{#if modifier}}
            <p class="roll-summary">
                <span class="roll-label">{{localize "AKREL.CHAT.MODIFICATOR"}}</span>
                <span class="roll-value">+{{modifier}}</span>
            </p>
            {{/if}}
            <div class="separator-line"></div>
            <p class="roll-summary final-value">
                <span class="roll-label">{{localize "AKREL.CHAT.END_VALUE"}}</span>
                <span class="roll-value">{{totalTarget}}</span>
            </p>
        </div>
        <div class="separator-line"></div>
        <div class="dice-roll">
            <div class="dice-result">
                <div class="dice-roll-summary {{#if isCriticalSuccess}}critical-success{{/if}} {{#if isCriticalFailure}}critical-failure{{/if}} {{#if isSuccess}}success{{else}}failure{{/if}}">
                    <span class="roll-label">{{successText}}</span>
                    <span class="roll-label">{{rollResult}}</span>
                </div>
            </div>
        </div>
        <div class="separator-line"></div>
        <div class="roll-effect">
            <div class="damage-result {{#if isCriticalSuccess}}critical-success{{/if}} {{#if isCriticalFailure}}critical-failure{{/if}} {{#if isSuccess}}success{{else}}failure{{/if}}">
                <p class="effect-label">{{effectLabel}}</p>
                <span class="effect-value">{{{effectResult}}}</span>
            </div>
        </div>
        {{/if}}
        <div class="flavor-text">
            {{{flavorText}}}
        </div>
    </div>
</div>
