<form class="akrel-roll-dialog akrel-item-roll-dialog">

    <div class="form-group">
        <label>{{localize "AKREL.DIALOG.BASE_ATTRIBUTE"}}:</label>
        <div class="form-fields">
            <span>{{attributeName}}({{baseAttributeValue}})</span>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "AKREL.DIALOG.IN_COMBAT_BONUS"}}:</label>
        <div class="form-fields">
            <label class="checkbox">
                <input type="checkbox" name="inCombat" {{checked inCombat}} data-dtype="Boolean"/>
                {{localize "AKREL.DIALOG.APPLY"}}
            </label>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "AKREL.DIALOG.MODIFIER"}}</label>
        <input type="number" name="modifier" value="" placeholder="+1 / -1" />
    </div>

    {{#if showDamageFields}}
    <hr>
    <div class="form-group">
        <label>{{localize "AKREL.DIALOG.DAMAGE_DICE_MODIFIER"}}</label>
        <input type="text" name="damageDiceModifier" value="" placeholder="1d6 / +1 / -1" />
    </div>
    {{/if}}
</form>