<form class="akrel-roll-dialog akrel-stat-roll-dialog">
    <p>{{localize "AKREL.DIALOG.ROLL_FOR_STAT" statName=statName}}</p>

    <div class="form-group">
        <label>{{localize "AKREL.DIALOG.BASE_STAT_VALUE"}}:</label>
        <div class="form-fields">
            <span>{{statValue}}</span>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "AKREL.DIALOG.IN_COMBAT_BONUS"}}:</label>
        <div class="form-fields">
            <label class="checkbox">
                <input type="checkbox" name="inCombat" {{checked inCombat}} data-dtype="Boolean"/>
                {{localize "AKREL.DIALOG.APPLY"}} (+20)
            </label>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "AKREL.DIALOG.BONUS_MALUS"}}:</label>
        <div class="form-fields">
            <input type="number" name="modifier" value="0" data-dtype="Number"/>
        </div>
    </div>
</form>