<form class="akrel-dialog-form flexcol">
    <div class="form-group">
        <label>{{localize "AKREL.DIALOG.BASE_STAT_VALUE"}} ({{statName}})</label>
        <input type="number" name="baseStatValue" value="{{baseStatValue}}" data-dtype="Number" disabled/>
    </div>

    <div class="form-group">
        <label>{{localize "AKREL.DIALOG.MODIFIER"}}</label>
        <input type="number" name="modifier" value="" data-dtype="Number"/>
    </div>

    {{#if showCombatOption}}
    <div class="form-group">
        <label>{{localize "AKREL.CHAT.IN_COMBAT"}}</label>
        <div class="form-fields">
            <label class="checkbox">
                <input type="checkbox" name="inCombat" {{checked inCombat}} data-dtype="Boolean"/>
                {{localize "AKREL.DIALOG.APPLY"}}
            </label>
        </div>
    </div>
    {{/if}}
</form>